<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>

<h2>Dice Age Score Calculator</h2>

<div id="app">
  <h1>Input</h1>
  <h2>prays</h2>
  <ul>
    <li v-for="(pray, index) in data.prays">
        {{pray.text}} : <input type="text" id="secondNumber" v-model="data.input.prays[index]">
        Is dominants : <input type="text" id="secondNumber" v-model="data.input.dominants[index]">
    </li>
  </ul>
  <h2>shells</h2>
  <ul>
    <li v-for="(shell, index) in data.shells">
        {{shell}} : <input type="text" id="secondNumber" v-model="data.input.shells[index]">
    </li>
  </ul>
  <h2>dices</h2>
  <ul>
    <li v-for="(dice, index) in data.dices">
        {{dice.text}} : <input type="text" id="secondNumber" v-model="data.input.dices[index]">
    </li>
  </ul>
  <h2>skills</h2>
  <input type="text" id="secondNumber" v-model="data.input.skills">
  <h2>honors</h2>
  <ul>
    <li v-for="(hornor, index) in data.honors">
        {{hornor}} : <input type="text" id="secondNumber" v-model="data.input.honors[index]">
    </li>
  </ul>  
  <h1>Score</h1>
  <div>{{result}}</div>
  <input type="text" id="result" v-model="result">
</div>

<script>

const data ={
    prays: [
      { text: 'fruit', score: 10, dominant: 200 },
      { text: 'dodo', score: 20, dominant: 120 },
      { text: 'elm' , score: 30, dominant: 100 },
      { text: 'fish' , score: 40, dominant: 50 },
      { text: 'mammoth' , score: 50, dominant: 0 }
    ],
    shells:[
        20,
        30,
        40
    ],
    dices:[
        {text:"big"},
        {text:"small"}
    ],
    honors:[
        "big",
        "small",
        "shell",
        "shell20",
        "skill",
        "suite"
    ],
    input: {
        prays: [1,0,0,0,0],
        dominants: [0,0,0,0,0],
        shells:[0,0,0,0,0],
        dices:[0,0],
        honors:[0,0,0,0,0,0],
        skills:0,
        players:1
    }
  }

  const cal = (input)=>{
    let score =0;
    //calculate prays
    let prayScore = 0;
    for(let i=0;i<data.prays.length;i++){
        prayScore +=  input.prays[i] * data.prays[i].score;
    }
    //calculate suite
    let suiteScore = 0;
    let suiteCount = Math.min(...input.prays);
    suiteScore = suiteCount * 50
    //calculate dominant
    let dominantScore = 0;
    for(let i=0;i<data.prays.length;i++){
        dominantScore +=  input.dominants[i] * data.prays[i].dominant;
    }
    //calculate shells
    let shellsScore = 0;
    for(let i=0;i<data.shells.length;i++){
        shellsScore +=  input.shells[i] * data.shells[i];
    }
    //calculate hornor
    let honorscore = 0;
    if(input.honors[0]){
        honorscore+=input.dices[0] * 30;
    }
    if(input.honors[1]){
        honorscore+=input.dices[1] * 10;
    }
    if(input.honors[2]){
        honorscore+=input.shells.reduce((a, b) => a + b, 0) * 10
    }
    if(input.honors[3]){
        honorscore+=input.shells[0] * 20;
    }
    if(input.honors[4]){
        honorscore+=input.skills * 30;
    }
    if(input.honors[5]){
        honorscore+= suiteCount * input.players *10;
    }
    return prayScore+ suiteScore+ dominantScore+ shellsScore+ honorscore;
}

myObject = new Vue({
  el: '#app',
  data: data,
  computed: {
                result: function(){
                    return cal(data.input);
                }
            }
})


</script>

</body>
</html>
